<div class="news-section">
  <div class="common-section">
    <div class="container">
      <div class="news-content">
        <h2 class="section-title">الأخبار</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/news-image.png" alt="news-image" />
              <div class="item-text">
                <span class="history">30 مارس 2020 </span>
                <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
                <a class="hvr-icon-back" href="news-details.html"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/news-image.png" alt="news-image" />
              <div class="item-text">
                <span class="history">30 مارس 2020 </span>
                <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
                <a class="hvr-icon-back" href="news-details.html"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/news-image.png" alt="news-image" />
              <div class="item-text">
                <span class="history">30 مارس 2020 </span>
                <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
                <a class="hvr-icon-back" href="news-details.html"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
