<div class="hero-section">
  <div class="container-fulid">
    <div class="hero-content">
      <div class="hero-carousel owl-carousel owl-theme">
        <div class="hero-image">
          <img src="assets/images/hero-image.png" alt="#" />
        </div>

        <div class="hero-image">
          <img src="assets/images/hero-image.png" alt="#" />
        </div>
        <div class="hero-image">
          <img src="assets/images/hero-image.png" alt="#" />
        </div>
        <div class="hero-image">
          <img src="assets/images/hero-image.png" alt="#" />
        </div>
        <div class="hero-image">
          <img src="assets/images/hero-image.png" alt="#" />
        </div>
      </div>
    </div>
  </div>
</div>
