<div
  class="courses-section"
  style="background-image: url(assets/images/staff-image.png)"
>
  <div class="container">
    <div class="courses-content">
      <h2>دورات "صحة وسلامة" لطلبة المدارس</h2>
      <button
        type="submit"
        class="btn-main "
        onclick="window.location.href='course-details.html'"
      >
        سجل الآن
      </button>
    </div>
  </div>
</div>
