  <div class="statistics-section">

    <div class="container">
      <h2 class="section-title">إحصائيات</h2>
      <div class="statistics-content">
        <div class="result-counter">
          <div class="row">
            <div class="col-md-3">
              <div class="counter-box">
                <h2><span class="counter">321</span></h2>
                <p>مراكز الإسعاف</p>
              </div>
              
            
            </div>
            <div class="col-md-3">
              <div class="counter-box">
                <h2><span class="counter">3200</span></h2>
                <p >سيارات الإسعاف</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="counter-box">
                <h2><span class="counter">623</span></h2>
                <p >تأمين المؤتمرات </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="counter-box">
                <h2><span class="counter">2756984</span></h2>
                <p >حالات تم إسعافها</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
