<div class="services-section">
  <div class="common-section">
    <div class="container">
      <div class="services-content">
        <h2 class="section-title">الخدمات</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-1.png" alt="#" />
              <div class="item-text">
                <p>طلب إسعاف لخدمة غير طارئة</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-2.png" alt="#" />
              <div class="item-text">
                <p>طلب مطابقة فنية لترخيص سيارة الإسعاف</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-3.png" alt="#" />
              <div class="item-text">
                <p>طلب خدمات الإسعاف النهري</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-4.png" alt="#" />
              <div class="item-text">
                <p>طلب خدمات الإسعاف الجوي</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-5.png" alt="#" />
              <div class="item-text">
                <p>طلب إسعاف بحضانة لنقل حديثي الولادة</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item-box">
              <img src="assets/images/services-6.png" alt="#" />
              <div class="item-text">
                <p>تأمين المؤتمرات</p>
                <a class="hvr-icon-back" href="#"
                  >عرض المزيد <i class="fa fa-long-arrow-left hvr-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
