<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <h6>تواصل معنا</h6>

          <ul>
            <li>
              <span> <i class="fa fa-phone"></i></span>
              <p>02 37477403</p>
            </li>
            <li>
              <span><i class="fa fa-envelope-o"></i></span>
              <p>eao.media@eao.gov.eg</p>
            </li>
            <li>
              <span> <i class="fa fa-map-marker"></i></span>

              <p>قسم أول 6 أكتوبر، الجيزة</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <h6>روابط سريعة</h6>

          <ul>
            <li>
              <a href="#">الرئيسية</a>
            </li>
            <li>
              <a href="courses.html">الدورات </a>
            </li>
            <li>
              <a href="media-news.html"> الأخبار</a>
            </li>
            <li>
              <a href="video-gallery.html"> معرض الفيديو</a>
            </li>
            <li>
              <a href="Photo-gallery.html"> معرض الصور </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <h6>معلومات تهمك</h6>

          <ul>
            <li>
              <a href="information.html"> حقوق وخصوصيات</a>
            </li>
            <li>
              <a href="information.html">كيف تتعامل مع سيارة الإسعاف</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <h6>أرقام الطوارئ</h6>
          <span class="emergency-number"> 123<i class="fa fa-phone"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="border-line"></div>
  <p class="copyright">جميع الحقوق محفوظة - هيئة الإسعاف المصرية © 2022</p>
</footer>
