<header class="main-header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <a class="logo-header" href="index.html"
            ><img src="assets/images/logo.png" alt="logo-image"
          /></a>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="navbar-left">
            <p>اتصل بنا</p>
            <a class="change-lang" href="#">English</a>
            <ul class="social-links">
              <li>
                <a class="youtube hvr-icon-sink" href="#">
                  <i class="fa fa-youtube-play hvr-icon"></i>
                </a>
              </li>
              <li>
                <a
                  class="facebook hvr-icon-sink"
                  href="https://www.facebook.com/EAO.Ambulance.Organization"
                  target="_balnk"
                  ><i class="fa fa-facebook hvr-icon"></i>
                </a>
              </li>
              <li>
                <a class="twitter hvr-icon-sink" href="#"><i class="fa fa-twitter hvr-icon"></i> </a>
              </li>

              <li>
                <a
                  class="instagram  hvr-icon-sink"
                  href="https://www.instagram.com/eao.ambulance.organization/"
                  target="_balnk"
                >
                  <i class="fa fa-instagram  hvr-icon"></i>
                </a>
              </li>
            </ul>
            <span class="emergency-number">
              رقم الطوارئ : 123<i class="fa fa-phone"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="mobile-nav">
        <button class="mobile-btn" onclick="toggleMenu(1)">Menu</button>
      </div>
      <ul class="nav" id="main-nav">
        <li class="close-item">
          <button class="mobile-btn" onclick="toggleMenu(0)">Close</button>
        </li>
        <li class="nav-item">
          <a href="index.html" class="nav-link">الرئيسية</a>
        </li>
        <li class="nav-item ">
          <a href="ambulance-one.html" class="nav-link">
            عن الإسعاف <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dp-menu dropdown-menus">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تاريخ الإسعاف في مصر <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تعريف بالهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                قصص ناجحة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                مشروعات الهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                رئيس مجلس الإدارة والمديرين التنفيذيين
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="services.html" class="nav-link">
            الخدمات <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dp-menu dropdown-menus">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تاريخ الإسعاف في مصر <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تعريف بالهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                قصص ناجحة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                مشروعات الهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                رئيس مجلس الإدارة والمديرين التنفيذيين
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="courses.html" class="nav-link">الدورات</a>
        </li>
        <li class="nav-item">
          <a href="media-center.html" class="nav-link">
            المركز الإعلامي <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dp-menu dropdown-menus">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تاريخ الإسعاف في مصر <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تعريف بالهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                قصص ناجحة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                مشروعات الهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                رئيس مجلس الإدارة والمديرين التنفيذيين
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="first-aid.html" class="nav-link">
            الإسعافات الأولية <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dp-menu dropdown-menus">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تاريخ الإسعاف في مصر <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تعريف بالهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                قصص ناجحة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                مشروعات الهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                رئيس مجلس الإدارة والمديرين التنفيذيين
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="join-us.html" class="nav-link">
            انضم الينا <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dp-menu dropdown-menus">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تاريخ الإسعاف في مصر <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                تعريف بالهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                قصص ناجحة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                مشروعات الهيئة <i class="fa fa-chevron-left"></i>
              </a>
              <ul class="dp-menu open-menu">
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الإنشاءات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التجهيزات </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> التشغيل </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> الأداء </a>
                </li>
                <li class="dp-item">
                  <a href="#!" class="dp-link"> تكنولوجيا </a>
                </li>
              </ul>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                رئيس مجلس الإدارة والمديرين التنفيذيين
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
          class="icon-search hvr-icon-bounce"
          data-toggle="modal"
          data-target="#myModal"
          href="#"
          ><i class="fa fa-search hvr-icon" ></i>
        </a>

        </li>
        
      </ul>
    

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button
              type="button"
              class="close close-modal"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
              <form action="#">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="ادخل كلمة البحث أو اختر أحد المواضيع الشائعة"
                  />
                  <i class="fa fa-search"></i>
                </div>
                <div class="trending-topics">
                  <h6>مواضيع شائعة</h6>

                  <ul>
                    <li><a href="#">الوظائف</a></li>
                    <li><a href="#">الإسعافات الأولية</a></li>
                    <li><a href="#">كيف تنقذ حياة إنسان</a></li>
                    <li><a href="#">اخر الأخبار</a></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-main">بحث</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  function toggleMenu(id) {
    let nav1 = document.getElementById("main-nav");
    if (id === 1) {
      nav1.style.left = "0%";
    } else {
      nav1.style.display = "-100%";
    }
  }
</script>
