<aside class="main-sidebar">
  <ul>
    <li>
      <a class="active" href="#">
        <i class="icon-person icon-style"></i>
        Account
      </a>
    </li>

    <li>
      <a href="#">
        <i class="icon-heart icon-style"></i>
        My List
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-payment icon-style"></i>
        Payment Methods
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-location icon-style"></i>
        Address
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-list icon-style"></i>
        My Order
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-setting icon-style"></i>
        Setting
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-log-out icon-style"></i>

        Logout
      </a>
    </li>
  </ul>
</aside>
