/* _____ VARIABLES _____ */

$main-border-radius: 6px;
$main-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);

$main-transition: all 200ms ease-in-out;

// Colors
// ==========================================================================

$color-text: #fff;
$color-pink: #33ccff;
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

$color-main: #5f2749;
$color-secondary: #fa8967;

// Colors

$primary-color-light: #9d2f4c;

$secondary-color-light: #fdc175;
$link-color: #00a6ed;
$facebook-color: #5263c6;
$twitter-color: #40c4ff;
$instagram-color: #a43564;
$youtube-color: #ff0000;

///////////////////////////////////////
//elheba-colors
$primary-color: #002060;
$secondary-color: #004484;
$main-color: #f89b26;
$white-color: #ffffff;
$border-color: #ececec;
$light-gray: #8b8b97;
$dark-gray: #999999;
$dark-yellow: #CC9900;
$black-color: #000000;
$black-light:#4C4C4C;
$gray-grade-other: #ececec;
$white-color: #ffffff;
$dark-gray: #8b8b97;
$orange-color: #f89b26;
$blue-color: #4044aa;
$green-color: #41aa55;
$sign-bg-color: #fce7cd;
$red-color: #ff0000;
$star-color: #fbb040;

