{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}

  <div class="page-head ">
    <img src="assets/images/page-head.png" alt="#" />
    <h2>عن الإسعاف</h2>
  </div>
  <div class="breadcrumb">
    <ul>
      <li><a href="#">عن الإسعاف </a></li>
      <li><a href="#">مشروعات هيئة الإسعاف المصرية</a></li>
      <li><a href="#"> الإنشاءات</a></li>
    </ul>
  </div>

  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <ul class="nav-sidebar">
            <li>
              <a href="#" class="dropmenu"> تاريخ الإسعاف في مصر</a>
              <ul>
                <li><a class="active" href="#">الإنشاءات</a></li>
                <li><a href="#">التجهيزات</a></li>
                <li><a href="#">التشغيل</a></li>
                <li><a href="#">الأداء</a></li>
                <li><a href="#">تكنولوجيا</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropmenu"> تعريف بالهيئة</a>

              <ul>
                <li><a href="#">الإنشاءات</a></li>
                <li><a href="#">التجهيزات</a></li>
                <li><a href="#">التشغيل</a></li>
                <li><a href="#">الأداء</a></li>
                <li><a href="#">تكنولوجيا</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> رئيس مجلس الإدارة والمديرين التنفيذيين </a>
            </li>

            <li>
              <a href="#" class="dropmenu"> قصص ناجحة </a>
              <ul>
                <li><a href="#">الإنشاءات</a></li>
                <li><a href="#">التجهيزات</a></li>
                <li><a href="#">التشغيل</a></li>
                <li><a href="#">الأداء</a></li>
                <li><a href="#">تكنولوجيا</a></li>
              </ul>
            </li>

            <li>
              <a href="#" class="dropmenu"> مشروعات هيئة الإسعاف</a>
              <ul>
                <li><a href="#">الإنشاءات</a></li>
                <li><a href="#">التجهيزات</a></li>
                <li><a href="#">التشغيل</a></li>
                <li><a href="#">الأداء</a></li>
                <li><a href="#">تكنولوجيا</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class=" col-lg-9 col-md-8">
          <div class="body-content">
            <h2>الإنشاءات</h2>
            <p>
              شملت خطة الإنشاءات فروع ونقاط اسعافية جديدة وتطوير وتحديث نقاط
              اسعافية قديمة بجميع محافظات مصر
            </p>

            <div class="body-text">
              <h3>المركز الرئيسي لهيئة إسعاف مصر</h3>
              <p class="mb-0">تم أختيار المركز طبقا للمعايير القياسية المتبعة</p>
              <p>
                تم الانتهاء من المواصفات الفنية المطلوبة للمبنى والانتهاء من
                الرسومات وجاري العمل بالمركز
              </p>
            </div>
            <div class="body-text">
              <h3>مركز تدريب الإسعاف بالجيزة</h3>

              <p>
                تم إسناد استكمال أعمال تطوير وتشطيب مبنى التدريب بجوار رمد
                الجيزة ليصبح المركز الرئيسي لتدريب الإسعاف ، وحاليا جارى العمل
                بالمركز وسوف يتم الانتهاء من الأعمال الإنشائية والمعمارية
                وتجهيزه في يوليو 2010
              </p>
            </div>
            <div class="body-text">
              <h3>الإسعاف النهري</h3>
              <p>
                ولأهمية نهر النيل الذى يعد الشريان الرئيسي لمصر ولأهميته
                السياحية وكثرة الفنادق العائمة علية تم الاتجاة للاستفادة من نهر
                النيل وتوفير خدمات اسعافية وذلك بأنشاء 3 مراسي لنشات اسعافية
                مزدوجة فى القاهرة والأقصر وأسوان وقنا وتم التعاقد علي شراء عدد 6
                لنشات خدمات اسعافية للعمل بتلك المراسى وتم بالفعل التجربة الاولي
                للنشات الاسعافية بمدينة الاقصر وجارى استكمال باقي اللنشات
                وتوزيعها علي باقي المحافظات
              </p>
            </div>
            <div class="body-text">
              <h3>الإسعاف الطائر</h3>
              <p>
                ولسرعة أداء الخدمات الاسعافية بالمناطق النائية ونقل المصابين
                للمراكز الطبية المتخصصة بالقاهرة تم الاتجاة لشراء عدد 2 طائرة
                هليكوبتر وعدد 1 طائرة جت وجاري تطوير منظومة الاسعاف الطائر من
                خلال التعاون مع القوات المسلحة ووزارة الطيران المدني
              </p>
            </div>
            <div class="body-text">
              <h3>في مجال تطوير الإنشاءات</h3>
              <ul>
                <li>
                  إنشاء نقاط إسعاف جديدة بالطرق السريعة ( تم الانتهاء من 28 نقطة
                  وجارى العمل في 16 نقطة إسعاف جديدة باجمالى عدد 44 نقطة إسعاف
                  إنشاء جديد )
                </li>
                <li>
                  تطوير نقاط الإسعاف بالطرق السريعة ذات الكثافة العالية في
                  الحوادث ( تم الانتهاء من تجديد وتطوير 94 وحدة وجارى تطوير 56
                  وحدة أخرى باجمالى 150 وحدة اسعاف )
                </li>
                <li>
                  إنشاء عدد 6 مراسي للنشات الإسعاف ( تم الانتهاء من انشاء 2 مرسى
                  بالأقصر ة وجارى إنشاء 2 مرسى بأسوان حاليا )
                </li>
                <li>
                  إنشاء المركز الاقليمى للهيئة يشرم الشيخ ( جارى الإنشاء )
                </li>
                <li>
                  إنشاء المركز الاقليمى للهيئة بمدينة الأقصر ( تم تخصيص الأرض
                  وعمل الرسومات الهندسية )
                </li>
                <li>
                  إنشاء المركز الرئيسي للهيئة بمدينة أكتوبر ( تم تخصيص الأرض
                  وعمل الرسومات الهندسية ) إنشاء معهد الخدمات الاسعافية ( جارى
                  الإنشاء )
                </li>
                <li>إنشاء معهد الخدمات الاسعافية ( جارى الإنشاء )</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "templates/partials/footer.njk" %} {% endblock %}
