{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}
<div class="page-head">
  <img src="assets/images/courses-image.png" alt="#" />
  <h2>الدورات</h2>
</div>
<div class="breadcrumb">
  <ul>
    <li><a href="courses.html"> الدورات </a></li>
    <li><a href="#"> دورة مبادئ الإسعافات الأولية </a></li>
  </ul>
</div>
<div class="medical-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="body-content">
          <div class="body-text">
            <h3>وصف الدورة</h3>
            <p>
              كثيراً ما نتعرض خلال حياتنا اليومية إلى العديد من الإصابات كالجروح
              أو الكسور أو الحروق وغيرها ، والإسعافات الأولية هي الخطوة الأولى
              والأساسية للتعامل مع الإصابات بشكل صحيح ومنع حدوث المضاعفات، ومن
              خلال التدريب سيكون بمقدور المتدرب القدرة على التصرف الصحيح والسريع
              عند التعامل مع الإصابات
            </p>
          </div>

          <div class="body-text">
            <h3>الموضوعات التي سيتم دراستها في هذه الدورة</h3>
            <span>
              آلية استخدام تلك الخدمة تعتمد على الاتصال برقم الإسعاف ١٢٣ ، ويحدد
              الأتي
            </span>
            <ul>
              <li>
                تعريف الإسعافات الأولية والمهارات الأساسية في الإسعافات الأولية
              </li>
              <li>
                معرفة مدى إمكانية التدخل (وعدمه) في مختلف المواقف والحوادث
                الطارئة
              </li>
              <li>
                التصرف اللازم في المواقف الطارئة والحوادث بمختلف أنواعها مثل:
                توقف القلب والتنفس والاختناق أو الغصة
              </li>
              <li>كيفية تقديم إسعافات أولية للحروق وإسعافات أولية للأطفال</li>
              <li>
                التعامل مع حالات الكسور والجروح والنزيف وحالة لدغ الثعابين أو
                الحشرات أو عضّ الحيوانات وغيرها من الإصابات
              </li>
            </ul>
          </div>
          <div class="body-text">
            <h3>أهداف الدورة</h3>
            <span> في نهاية هذه الدورة يكون المتدرب قادراً علي أن </span>
            <ul>
              <li>تقييم حالة المصاب بشكل عام</li>
              <li>فحص النبض وعدً التنفس</li>
              <li>الفحص الأولي والثانوي</li>
              <li>فتح الممرات الهوائية وتصحيح إنسداد الممرات</li>
              <li>معرفة أنواع الحروق وطرق علاجها</li>
              <li>معرفة طرق السيطرة على النزيف وكيفية التعامل معه</li>
              <li>التعرف علي الإصابات المختلفة وكيفية التعامل معها</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="summary-cart">
          <h5>تفاصيل الدورة</h5>

          <ul>
            <li>لغة الدراسة <span>العربية</span></li>
            <li>مدة الدراسة<span>18 ساعه</span></li>
            <li>عدد المحاضرات<span>9 محاضرات </span></li>
            <li>شهادة إتمام الدورة<span>نعم </span></li>

            <li class="border-0">رسوم التسجيل <span> 250ج.م</span></li>
          </ul>
          <button type="submit" class="btn-main btn-block">سجل الآن</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "templates/partials/footer.njk" %} {% endblock %}
