{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}
  <div class="page-head">
    <img src="assets/images/page-head.png" alt="#" />
    <h2>الإسعافات الأولية</h2>
  </div>
  <div class="medical-services-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
              <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
             <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
             <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
              <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
         <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-box mb-5">
            <img src="assets/images/frist-aid.png" alt="#" />
            <div class="item-text pr-5 pl-5">
              <p>ضربة شمس</p>
             <div class="row">
                <div class="col-md-6">
                  <a  class=" hvr-icon-grow" href="#">عرض <i class="fa fa-eye hvr-icon"></i> </a>
                </div>
                <div class="col-md-6">
                  <a class="float-left hvr-icon-grow"  href="#"> تنزيل <i class="fa fa-long-arrow-down hvr-icon"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include "templates/partials/footer.njk" %} {% endblock %}
