{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}

<div class="page-head">
  <img src="assets/images/page-head.png" alt="#" />
  <h2>انضم الينا</h2>
</div>
<div class="breadcrumb">
  <ul>
    <li><a href="#"> انضم الينا </a></li>
    <li><a href="#"> المتطوعين </a></li>
  </ul>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
        <ul class="nav-sidebar">
          <li>
            <a href="#"> المتطوعين </a>
          </li>
          <li>
            <a href="#"> الوظائف </a>
          </li>
        </ul>
      </div>
        <div class=" col-lg-9 col-md-8">
        <div class="body-content">
          <div class="body-text">
            <h3>المتطوعين</h3>
            <p>
              هم أشخاص من مختلف فئات المجتمع مستعدون للتبرع بوقتهم وقادرون على
              القيام بذلك بصورة تفيد المجتمع وتمكن المتطوع الفرد من تحقيق ذاته
              ونابع من الإرادة الحرة للشخص الذي يتطوع للعمل وليس له عن الرغبة في
              تحقيق كسب مادي آو مالي آو بفعل ضغوط خارجية آو اجتماعية آو اقتصادية
              آو سياسية
            </p>
          </div>
          <div class="body-text">
            <h3>الأعمار</h3>
            <p>تتراوح الاعمار من 18: 38 عاما</p>
          </div>
          <div class="body-text">
            <h3>الهدف من التطوع</h3>
            <p>
              تشجيع روح المبادرة والمشاركة الإيجابية من قبل أفراد المجتمع
              للمحافظة علي حياة المصابين والمرضي
            </p>
          </div>

          <div class="body-text">
            <h3>أهمية العمل التطوعي</h3>
            <ul>
              <li>
                تواجد المتطوعين في مناطـق الحـوادث الكبيـرة يسهم في المساعدة في
                عملية الفرز بين المصابين وتسهيل عمل المسعفين
              </li>
              <li>
                الحاجـة لهم كمصـدر بشـري إضافـي للمساعـدة فـي أوقـات الطـوارئ
              </li>
              <li>دور في تسويـق عمـل هيئة الإسعاف المصرية</li>
              <li>تطويـر المتطوعيـن الشخصـي يساهـم بدعـم المجتمـع بأكملـه</li>
            </ul>
          </div>
          <div class="body-text">
            <h3>واجبات العمل التطوعي</h3>
            <ul>
              <li>
                التصـرف وفـق المبادئ الأساسيّـة لهيئة الإسعاف المصرية والعمـل
                على نشـرها
              </li>
              <li>
                احترام قواعـد استعمال شعار هيئة الإسعاف المصرية لتفـادي إسـاءة
                استعماله
              </li>
              <li>
                التصـرّف وفـق النظـام الأساسـي للهيئة وسلـوك الاتحاد​​ الدولي
                والمبادئ الأساسيـة للخدمـة التطوّعيّـة
              </li>
              <li>
                أن يقوم المتطوعين بتعزيز قدراتهم لمساعدة الاخريين ومساعدة أنفسهم
              </li>
              <li>
                السعـي لتحقيـق أعلـى معاييـر جـودة الخدمـة التطوّعيّـة وتقديم
                التقاريـر الدوريّـة
              </li>
              <li>
                أن يكونـوا مستعدين للعمـل في أي وقـت عنـد حـدوث حالـة طوارئ
                حسبمـا تمّ الاتفاق عليـه مع الهيئة بحيث تكون الاعمال متماشية مع
                مهاراتهم وقدراتهم
              </li>
            </ul>
          </div>
          <div class="body-text">
            <h3>حقوق المتطوع</h3>
            <ul>
              <li>
                الحصول على تدريب مناسب أو تطوير مهاراته للتمكن من القيام بالمهام
                أو الدور المتفق عليه
              </li>
              <li>
                الحصول على المعدات المناسبة بما يتيح لهم القيام بمهامهم أو دورهم
              </li>
              <li>تأمين المتطوعين خلال المهام الرسمية</li>
              <li>الحق بإبداء الرأي والمشاركة في التخطيط والتنفيذ</li>
              <li>
                ومن الطبيعي ان يكون جميع المتطوعين مقيدين و مسجلون بقاعدة
                البيانات الخاصة بهيئة الاسعاف المصرية بجميع البيانات الخاصة بهم
                وطبيعة الاعمال التطوعية المنوطين بها
              </li>
            </ul>

            <button type="submit" class="btn-main">طلب الخدمة</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "templates/partials/footer.njk" %} {% endblock %}
