{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}

  <div class="page-head">
    <img src="assets/images/page-head.png" alt="#" />
    <h2>الخدمات</h2>
  </div>
  <div class="breadcrumb">
    <ul>
      <li><a href="media-center.html"> المركز الإعلامي </a></li>
      <li><a href="#"> الأخبار   </a></li>
    </ul>
  </div>

  <div class="content-section">
      <div class="news-details">
        <div class="container">
            <div class="body-content "> 
              <div class="body-text">
                <h3>هيئة الإسعاف المصرية تستضيف ورشة عمل القيادة</h3>
                <span class ="history">30 مارس 2020 </span>

                <img src="assets/images/news-detials.png" alt="#" />
      
                <ul>
                  <li>
                    إنطلاق فعاليات التدريب الدولي المعتمد لبرامج دعم الحياة والتعامل
                    مع الإصابات الحرجة بهيئة الإسعاف المصرية وذلك برعاية السيد الدكتور
                    خالد عبدالغفار وزير التعليم العالي والبحث العلمي والقائم بعمل وزير
                    الصحة والسكان وبمشاركة من منظمة الصحة العالمية ومكتبها الإقليمي
                    بمصر تأتي تلك الخطوة في إطار توجيهات القيادة السياسية بالعمل علي
                    رفع المستوي العلمي والعملي للقوي البشرية يإعتبارها المحرك الرئيسي
                    لعجلة التنمية لتحقيق رؤية مصر ٢٠٣٠
                  </li>
                  <li>
                    وتتمثل أهمية ذلك البرنامج التدريبي في كونه معتمد دولياً بكل ارجاء
                    العالم، ويتضمن البرنامج شرح نظري على التعامل مع الحالات الطبية
                    الطارئة ويلي ذلك عمل سيناريوهات ومحاكاة لحوادث واصابات حرجة مع
                    الدفع بالمتدربين للمشاركة في مهام الإسعاف والانقاذ
                  </li>
                  <li>
                    ذلك وقد احتضنت قاعات التدريب بالمقر الجديد لهيئة الإسعاف المصرية
                    الذي يشهد التشغيل التجريبي الأول له حاليآ تلك الفاعليات التدريبية
                    .كما شهد ذلك التدريب الظهور الأول لاسطول سيارات إسعاف" حياة كريمة"
                    حيث شاركت في المناورات الإسعافية لمحاكاة حوادث الطرق
                  </li>
                  <li>
                    ذلك وقد اشاد السيد الدكتور محمد جاد رئيس هيئة الإسعاف المصرية بما
                    لمسه من مجهود واهتمام من قبل المتدربين مؤكداً علي أن خريجي ذلك
                    البرنامج التدريبي يجسدون النواة الاولي لخلق مدربين قادرين علي
                    تدريب كافة الأطقم الاسعافية بكل ربوع مصر وفقا للنظم العالمية
                    المعمول بها في المؤسسات الدولية المناظرة لنا وذلك في ضوء ما تشهدة
                    الدولة من خطة تنموية تعد هي الاضخم في تاريخ مصر الحديث والتي يأتي
                    علي رأسها مبادرة" حياة كريمة" والتي جاءت لتنتشل قري ونجوع مصر من
                    براثن الإهمال التي كبلتها لعقود وبمشاركة من منظومة الإسعاف المصري
                    عبر التعاقد علي ١٠٠٠سيارة إسعاف جديدة لخدمة قري ونجوع مصر مع بناء
                    وحدات إسعاف جديدة بالقري الأكثر احتياجا
                  </li>
                </ul>
                
              </div>
            </div>
          </div>
      </div>
  
  </div>
{% include "templates/partials/footer.njk" %} {% endblock %}
