{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}
<div class="page-head">
  <img src="assets/images/page-head.png" alt="#" />
  <h2>المركز الإعلامي</h2>
</div>
  <div class="breadcrumb">
      <ul>
      <li><a href="media-center.html"> المركز الإعلامي </a></li>
        <li><a href="#"> معرض الصور</a></li>
        <li><a href="#"> بإيدك تنقذ إنسان</a></li>
      </ul>
    </div>

<div class="content-section">
  <div class="container">
  
    <div class="row">
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-1.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-3.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-2.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-1.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-3.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-2.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-1.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-2.png" alt="#" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <a  class="hvr-grow" data-fslightbox="gallery" href="assets/images/save-image-1.png">
            <img src="assets/images/save-image-3.png" alt="#" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "templates/partials/footer.njk" %} {% endblock %}
