{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %}
<div class="page-head">
  <img src="assets/images/page-head.png" alt="#" />
  <h2>المركز الإعلامي</h2>
</div>
<div class="breadcrumb">
  <ul>
    <li><a href="media-center.html"> المركز الإعلامي </a></li>
    <li><a href="#"> معرض الفيديو</a></li>
  </ul>
</div>
<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text"> 
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-1.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text">
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-2.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text">
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-3.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text">
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-3.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text">
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-1.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-box">
          <div class="item-text">
            <p>
              <a class="popup-vimeo hvr-grow" href="assets/vidoes/vidoe-2.mp4">
                <img
                  class="img-fluid border"
                  src="assets/images/vidoe-image.png"
                  alt="#"
              /></a>
            </p>
            <p>هيئة الإسعاف المصرية تستضيف هذا الأسبوع ورشة عمل القيادة</p>
            <span class="history pt-0">30 مارس 2020 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "templates/partials/footer.njk" %} {% endblock %}
